html {
  overflow-y: scroll;
}

body {
  font-size: 10pt;
  font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
  color: black;
  line-height: 14pt;
  padding-left: 5pt;
  padding-right: 5pt;
  padding-top: 5pt;
}

#root {
  width: 100%;
  height: 100%;
}

#header {
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: space-between;
}

#header-title {
  display: flex;
  flex: 1;
  flex-direction: column;
}

span.slider {
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: space-between;
}

div#active {
  justify-content: flex-end;
  margin: auto 19px auto 0;
}

div#snooze {
  justify-content: flex-start;
  margin: auto 0 auto 10px;
}

h4#header-subtext,
h1#header-text {
  color: black;
  margin: 0;
}

#app {
  display: flex;
  flex: 1;
  flex-direction: column;
  width: 60%;
  min-width: 40%;
  height: 100%;
  justify-content: center;
  margin: 0 auto;
}

.transaction {
  display: flex;
  flex-direction: row;
  flex: 1;
  padding: 5px;
  border: 1px solid black;
  border-radius: 5px;
  margin-top: 10px;
  justify-content: space-between;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.45);
}

label.transaction-label {
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: space-between;
  margin-right: 20px;
  margin-left: 10px;
}

.transaction-info,
.transaction-action {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.transaction-input {
  min-width: 370px;
  margin-bottom: 2px;
}

.transaction-action-buttons {
  display: flex;
  flex: 1;
  flex-direction: row;
}

.transaction-snooze {
  margin-right: 20px;
}

#transactions-filter {
  display: flex;
  flex: 1;
  justify-content: space-between;
}

#transaction-list-action {
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content:flex-end;
}
button#fetch-data-button {
  height: 33.99;
  margin: auto 10px auto 0;
}

/* ===========
  Delay Toggle
=========== */
.switch {
  position: relative;
  display: inline-block;
  width: 150px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 70px;
  left: 5px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(70px);
  -ms-transform: translateX(70px);
  transform: translateX(70px);
}

img#loading-gif {
  display: flex;
  flex: 0;
  width: 46px;
  height: 46px;
  margin: auto 10px auto auto;
  opacity: 0;
}