body {
  font-size: 10pt;
  font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
  color: black;
  line-height: 14pt;
  padding-left: 5pt;
  padding-right: 5pt;
  padding-top: 5pt;
}

#root {
  width: 100%;
  height: 100%;
}

#app {
  display: flex;
  flex: 1;
  flex-direction: column;
  width: 60%;
  min-width: 40%;
  height: 100%;
  justify-content: center;
  margin: 0 auto;
}

.transaction {
  display: flex;
  flex-direction: row;
  flex: 1;
  padding: 5px;
  border: 1px solid black;
  border-radius: 5px;
  margin-top: 5px;
  justify-content: space-between;
}

.transaction-info,
.transaction-action {
  display: flex;
  flex-direction: column;
  flex: 1;
}